/* default */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

/* utils */
.container{
    min-height: 100px;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}
.white{
    color: white;
}

.black{
    color: black;
}

.purple{
    color: lightskyblue;
}

.bg-gray{
    background-color: lightgray;
}

.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

.section-h2{
    font-size: 35px;
}

.section-img{
    width: 400px;
}

.section-container{
    display: flex;
    align-items: center;
    min-height: 100px;
    width: 100%;
}

.section-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-basis: 50%;
    min-height: 400px;
}

.layout-sec{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    margin: auto;
    min-height: 400px;
}

.row-reverse{
 flex-direction: row-reverse;
}

/* Header */

.headers-container{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#top{
    display: flex;
    height: 100px;
    width: 100%;
}

.header-top{
    flex-basis: 75%;
    margin: 15px auto;
}

.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    text-align: left;
}

.nav-center{
    text-align: center;
}

.nav-right{
    text-align: right;
}

/* Link nav */
 nav > a{
    text-decoration: none;
    font-weight: 30px;
    padding: 15px;
}

/* Button nav */
.nav-right > button{
    border-radius: 50%;
    padding: 10px;
    border: none;
}

/* Button Hover properties */ 
.nav-right > button:hover{
    background-color: aliceblue;
}

/* Header bottom */
.header-bottom{
    display: flex;
    flex-direction: column;
    min-height: 100px;
    background-position: center;
    background-size: cover;
}

.header-bottom h1{
    text-align: center;
    font-size: 45px;
}

.header-bottom p{
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 17px;
}

.button{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.header-bottom button{
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10%;
    border: none;
    margin-bottom: 120px;
}

/* Button Hover properties */ 

.header-bottom #btn-left:hover{
    background-color: lightslategray;
}

.header-bottom #btn-right:hover{
    background-color: lightslategray;
}

/* Main */

/* Section */
.two-title{
    flex-direction: row-reverse;
}

.bottom-title{
    flex-direction: column;
    flex-direction: column-reverse;
}

.bottom-title img{
    width: 800px;
}

.bottom-title button{
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 100px;
}

.bottom-title button a{
    text-decoration: none;
}

.bottom-title {
   background-image: url(../img/stars.svg);
   background-size: cover;
   background-size: 70%;
}

/* Footer */ 
.foot-container{
    min-height: 100px;
    background-color: #444444;
    display: flex;
    width: 100%;
}

foot-flex-items{
    width: 100%;
}

.flex-items{
    flex-basis: 100%;
    display: flex;
}

.col-left{
    flex-basis: 25%;
}

.col-1{
    flex-basis: 25%;
}

.col-2{
    flex-basis: 25%;
}

.col-3{
    flex-basis: 25%;
}

.li-title{
    font-weight: bold;
    font-size: 30px;
}

ul li{
    color: white;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 10px solid lightgray;
}
